# Created by https://www.gitignore.io/api/firebase,visualstudiocode

### Firebase ###
.idea
**/node_modules/*
**/.firebaserc
.firebase/
‘~/

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json


# End of https://www.gitignore.io/api/firebase,visualstudiocode